<container>
    <h2>Don't Miss These Posts</h2>
    <spacer size="20"></spacer>
    <row>
        <columns large="6" small="12">
            <img src="/assets/img/post_1.png" class="thumbnail">
        </columns>
        <columns large="6" small="12">
            <h3>Manila, Philippines</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae odit ex ducimus, consectetur asperiores facere fuga cum temporibus dicta incidunt vero debitis aliquid id dolor facilis ipsum fugit porro possimus.</p>
            <button href="#">Read More</button>
        </columns>
    </row>

    <row>
        <columns large="6" small="12">
            <img src="/assets/img/post_2.png" class="thumbnail">
        </columns>
        <columns large="6" small="12">
            <h3>My Biko</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae odit ex ducimus, consectetur asperiores facere
                fuga cum temporibus dicta incidunt vero debitis aliquid id dolor facilis ipsum fugit porro possimus.</p>
            <button href="#">Read More</button>
        </columns>
    </row>


</container>


