<container>
    <h2>Featured Post of the Week</h2>
    <spacer size="20"></spacer>
    <row>
        <columns>
            <center>
                <img src="/assets/img/featured_post.png" class="thumbnail">
            </center>
        </columns>
    </row>

    <row>
        <columns></columns>
        <columns small="12" large="10">
            <h3 class="text-center">Visit Bacolod, Philippines this Summer</h3>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eos veritatis eveniet corporis nihil beatae, nobis obcaecati, quam placeat, ipsam aliquam sunt incidunt rerum in quasi itaque fugiat? Similique, in.</p>
        </columns>
        <columns></columns>
    </row>
    <spacer size="10"></spacer>
    <row>
        <columns>
            <center>
                <button href="#">Read More</button>
            </center>
        </columns>
    </row>
</container>