<container>
    <h2>Quick tips for your travel.</h2>
    <spacer size="20"></spacer>
    <row>
        <columns large="4">
            <callout class="warning">
                <center>
                    <img src="/assets/img/icon_1.png">
                </center>
                <spacer size="20"></spacer>
                <p>Prepare your baggage.</p>
                <spacer size="28"></spacer>
            </callout>
        </columns>
        <columns large="4">
            <callout class="secondary">
                <center>
                    <img src="/assets/img/icon_2.png">
                </center>
                <spacer size="20"></spacer>
                <p>Get your camera ready.</p>
                <spacer size="25"></spacer>
            </callout>
        </columns>
        <columns large="4">
            <callout class="primary">
                <center>
                    <img src="/assets/img/icon_3.png">
                </center>
                <spacer size="20"></spacer>
                <p>Check your passport expiration date.</p>
            </callout>
        </columns>
    </row>
</container>